In [14]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

In [15]:
from dotenv import load_dotenv
load_dotenv()

True

In [16]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [17]:
ticker_sect = ["XLB", "XLP", "XLC", "XLV", "XLI", "XLK", "XLY", "XLU", "XLF", "XLE", "XLFE"]
timeframe = "1D"
start_date = pd.Timestamp("2000-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-12-01", tz="America/New_York").isoformat()

In [26]:
sector_data = api.get_barset(
    ticker_sect,
    timeframe,
    start=start_date,
    end=end_date
).df

sector_data.head()

                             XLB                                 XLC           \
                            open   high    low  close    volume open high low
time
2008-01-02 05:00:00+00:00  41.70  41.95  40.98  41.33   9483635  NaN  NaN NaN
2008-01-03 05:00:00+00:00  41.52  42.17  41.45  41.80   8699808  NaN  NaN NaN
2008-01-04 05:00:00+00:00  41.42  41.57  40.70  40.74  13370213  NaN  NaN NaN
2008-01-07 05:00:00+00:00  40.81  41.06  39.67  40.25  16971407  NaN  NaN NaN
2008-01-08 05:00:00+00:00  40.40  41.07  39.55  39.60  21112177  NaN  NaN NaN

                                        ...    XLV                       \
                          close volume  ...   open   high    low  close
time                                    ...
2008-01-02 05:00:00+00:00   NaN    NaN  ...  35.63  35.63  34.86  34.94
2008-01-03 05:00:00+00:00   NaN    NaN  ...  34.98  35.30  34.56  35.18
2008-01-04 05:00:00+00:00   NaN    NaN  ...  35.01  35.16  34.50  34.83
2008-01-07 05:00:00+00:00   NaN    NaN  ...  34.82  35.58  34.82  35.57
2008-01-08 05:00:00+00:00   NaN    NaN  ...  35.66  36.39  35.57  35.81

                                      XLY
                            volume   open   high    low  close   volume
time
2008-01-02 05:00:00+00:00  3915069  32.99  32.99  32.11  32.13  3711800
2008-01-03 05:00:00+00:00  2504282  32.11  32.22  31.68  31.78  9585427
2008-01-04 05:00:00+00:00  3214308  31.43  31.58  30.75  30.78  5960834
2008-01-07 05:00:00+00:00  5451740  31.14  31.18  30.68  30.93  6104205
2008-01-08 05:00:00+00:00  6210752  31.03  31.31  30.31  30.32  4287009

[5 rows x 55 columns]

In [12]:
sector_data.to_csv("sector_data.csv")

In [29]:
ticker_eem = ["EWY", "EPI", "FXI", "RSX", "EWW", "EWZ", "EEM"]

emerging_market_data = api.get_barset(
    ticker_eem,
    timeframe,
    start=start_date,
    end=end_date
).df

emerging_market_data.head()

                              EEM                                     EPI  \
                             open    high     low   close     volume open
time
2008-01-02 00:00:00-05:00  13.660  50.203  13.263  13.353  135382380  NaN
2008-01-03 00:00:00-05:00  13.517  13.580  13.427  13.473  154777641  NaN
2008-01-04 00:00:00-05:00  13.360  48.460  13.023  48.217  207042127  NaN
2008-01-07 00:00:00-05:00  48.623  48.933  13.023  13.163   86060487  NaN
2008-01-08 00:00:00-05:00  13.357  13.483  13.053  13.063  298762564  NaN

                                                 ...     FXI                  \
                          high low close volume  ...    open    high     low
time                                             ...
2008-01-02 00:00:00-05:00  NaN NaN   NaN    NaN  ...  57.247  57.620  55.733
2008-01-03 00:00:00-05:00  NaN NaN   NaN    NaN  ...  55.767  56.453  55.467
2008-01-04 00:00:00-05:00  NaN NaN   NaN    NaN  ...  55.997  55.997  54.377
2008-01-07 00:00:00-05:00  NaN NaN   NaN    NaN  ...  55.790  56.263  54.690
2008-01-08 00:00:00-05:00  NaN NaN   NaN    NaN  ...  56.687  57.407  55.097

                                               RSX                       \
                            close    volume   open   high    low  close
time
2008-01-02 00:00:00-05:00  56.037  15267060  42.86  43.33  42.54  43.07
2008-01-03 00:00:00-05:00  55.647  13011506  43.64  43.71  43.24  43.44
2008-01-04 00:00:00-05:00  54.530  21384279  43.33  43.36  42.33  42.48
2008-01-07 00:00:00-05:00  56.223  23161390  42.96  43.65  42.69  43.39
2008-01-08 00:00:00-05:00  55.233  21148514  43.58  43.64  42.62  42.72


                           volume
time
2008-01-02 00:00:00-05:00  799217
2008-01-03 00:00:00-05:00  587305
2008-01-04 00:00:00-05:00  409101
2008-01-07 00:00:00-05:00  703626
2008-01-08 00:00:00-05:00  579057

[5 rows x 35 columns]

In [30]:
emerging_market_data.to_csv("emerging_market_data.csv")

In [31]:
ticker_govt_credit = ["TLT", "TIP", "MUB", "SHY", "IEF", "BIL"]

govt_credit_data = api.get_barset(
    ticker_govt_credit,
    timeframe,
    start=start_date,
    end=end_date
).df

govt_credit_data.head()

                             BIL                                 IEF         \
                            open   high    low  close  volume   open   high
time
2008-01-02 00:00:00-05:00  91.64  91.66  91.58  91.66   29441  86.99  87.73
2008-01-03 00:00:00-05:00  91.66  91.66  91.60  91.60   30455  87.50  87.84
2008-01-04 00:00:00-05:00  91.70  91.70  91.54  91.58  171218  88.00  88.24
2008-01-07 00:00:00-05:00  91.60  91.66  91.58  91.66   30300  87.87  88.30
2008-01-08 00:00:00-05:00  91.64  91.68  91.56  91.60   18350  88.09  88.40

                                                   ...     TIP          \
                             low  close    volume  ...    open    high
time                                               ...
2008-01-02 00:00:00-05:00  86.94  87.65  475697.0  ...  106.02  106.71
2008-01-03 00:00:00-05:00  87.31  87.77  192486.0  ...  106.45  107.00
2008-01-04 00:00:00-05:00  87.95  87.99  367465.0  ...  107.17  107.23
2008-01-07 00:00:00-05:00  87.87  88.23  340655.0  ...  107.02  107.02
2008-01-08 00:00:00-05:00  87.87  88.39  293108.0  ...  106.91  107.12

                                                     TLT                       \
                              low   close  volume   open   high    low  close
time
2008-01-02 00:00:00-05:00  105.70  106.55  378862  93.25  94.73  93.20  94.41
2008-01-03 00:00:00-05:00  106.27  106.98  270284  94.00  94.38  93.67  94.27
2008-01-04 00:00:00-05:00  106.81  106.90  344397  94.40  94.79  94.20  94.25
2008-01-07 00:00:00-05:00  106.68  106.95  433486  94.18  94.78  94.03  94.68
2008-01-08 00:00:00-05:00  106.54  107.12  345385  94.44  94.65  93.93  94.63


                              volume
time
2008-01-02 00:00:00-05:00  3124700.0
2008-01-03 00:00:00-05:00  1134550.0
2008-01-04 00:00:00-05:00  2367062.0
2008-01-07 00:00:00-05:00  1309381.0
2008-01-08 00:00:00-05:00  1553400.0

[5 rows x 30 columns]

In [32]:
govt_credit_data.to_csv("govt_credit_data.csv")

In [34]:
ticker_commodities = ["USL", "UNL", "GLD", "SLV", "DBB", "CORN", "SOYB", "DBC", "GSG"]

commodities_data = api.get_barset(
    ticker_commodities,
    timeframe,
    start=start_date,
    end=end_date
).df

commodities_data.head()

                          CORN                          DBB                \
                          open high low close volume   open   high    low
time
2008-01-02 00:00:00-05:00  NaN  NaN NaN   NaN    NaN  22.20  22.51  22.08
2008-01-03 00:00:00-05:00  NaN  NaN NaN   NaN    NaN  22.65  23.39  22.65
2008-01-04 00:00:00-05:00  NaN  NaN NaN   NaN    NaN  23.19  23.19  22.77
2008-01-07 00:00:00-05:00  NaN  NaN NaN   NaN    NaN  22.79  22.93  22.66
2008-01-08 00:00:00-05:00  NaN  NaN NaN   NaN    NaN  23.20  23.81  23.20

                                            ...  UNL                        \
                           close    volume  ... open high low close volume
time                                        ...
2008-01-02 00:00:00-05:00  22.30   22200.0  ...  NaN  NaN NaN   NaN    NaN
2008-01-03 00:00:00-05:00  23.38   36400.0  ...  NaN  NaN NaN   NaN    NaN
2008-01-04 00:00:00-05:00  22.82  103400.0  ...  NaN  NaN NaN   NaN    NaN
2008-01-07 00:00:00-05:00  22.93   40200.0  ...  NaN  NaN NaN   NaN    NaN
2008-01-08 00:00:00-05:00  23.75   72000.0  ...  NaN  NaN NaN   NaN    NaN

                             USL
                            open   high    low  close   volume
time
2008-01-02 00:00:00-05:00  55.39  56.13  55.25  56.13   3900.0
2008-01-03 00:00:00-05:00  56.08  56.26  55.90  56.26  15600.0
2008-01-04 00:00:00-05:00  55.85  55.85  55.35  55.61  22700.0
2008-01-07 00:00:00-05:00  55.42  55.42  54.10  54.10  19800.0
2008-01-08 00:00:00-05:00  54.84  54.84  54.84  54.84   1000.0

[5 rows x 45 columns]

In [35]:
commodities_data.to_csv("commodities_data.csv")

In [36]:
ticker_corp_credit = ["HYG", "LQD"]

corp_credit_data = api.get_barset(
    ticker_corp_credit,
    timeframe,
    start=start_date,
    end=end_date
).df

corp_credit_data.head()

                              HYG                                   LQD  \
                             open    high    low  close  volume    open
time
2008-01-02 00:00:00-05:00   99.56  100.90  99.30  99.50   61800  105.26
2008-01-03 00:00:00-05:00   99.60   99.95  99.26  99.50   62314  105.36
2008-01-04 00:00:00-05:00  100.01  100.05  98.84  98.85   46350  106.29
2008-01-07 00:00:00-05:00   99.49   99.49  98.30  98.30  133005  106.55
2008-01-08 00:00:00-05:00   99.49   99.49  98.00  98.04   42050  106.54


                             high     low   close  volume
time
2008-01-02 00:00:00-05:00  106.22  105.06  106.03  468377
2008-01-03 00:00:00-05:00  106.04  105.36  105.91  150695
2008-01-04 00:00:00-05:00  106.61  106.11  106.50  135286
2008-01-07 00:00:00-05:00  106.71  106.25  106.66  148029
2008-01-08 00:00:00-05:00  106.61  105.99  106.28  126675

In [37]:
corp_credit_data.to_csv("corp_credit_data.csv")

In [38]:
ticker_markets = ["SPY", "IWM", "QQQ", "IWF"]

markets_data = api.get_barset(
    ticker_markets,
    timeframe,
    start=start_date,
    end=end_date
).df

markets_data.head()

                             IWF                                    IWM  \
                            open   high    low  close     volume   open
time
2008-01-02 00:00:00-05:00  60.95  61.08  59.81  60.12  4881050.0  76.15
2008-01-03 00:00:00-05:00  60.13  60.44  59.85  60.08  3134382.0  75.17
2008-01-04 00:00:00-05:00  59.58  59.58  58.31  58.39  3488363.0  73.23
2008-01-07 00:00:00-05:00  58.61  58.74  57.79  58.39  5370530.0  72.21
2008-01-08 00:00:00-05:00  58.70  59.00  57.04  57.25  5621529.0  72.37

                                                               QQQ         \
                            high    low  close       volume   open   high
time
2008-01-02 00:00:00-05:00  76.50  74.59  75.08   89163396.0  51.27  51.47
2008-01-03 00:00:00-05:00  75.62  74.03  74.07   72696175.0  50.39  50.76
2008-01-04 00:00:00-05:00  73.33  71.61  71.87  105483531.0  49.79  49.83
2008-01-07 00:00:00-05:00  72.85  71.07  72.10  124193191.0  48.41  48.68
2008-01-08 00:00:00-05:00  73.27  70.09  70.17  145525498.0  48.29  48.76

                                                       SPY                  \
                             low  close     volume    open    high     low
time
2008-01-02 00:00:00-05:00  50.13  50.41  149569531  146.53  146.99  143.88
2008-01-03 00:00:00-05:00  50.15  50.43  104746815  144.92  145.49  144.12
2008-01-04 00:00:00-05:00  48.25  48.28  193237479  143.34  143.44  140.92
2008-01-07 00:00:00-05:00  47.43  48.17  220176338  141.81  142.23  140.10
2008-01-08 00:00:00-05:00  46.97  46.98  236721448  142.10  142.90  138.63


                            close     volume
time
2008-01-02 00:00:00-05:00  144.55  175801806
2008-01-03 00:00:00-05:00  144.46  111357758
2008-01-04 00:00:00-05:00  140.93  195945264
2008-01-07 00:00:00-05:00  141.46  220398905
2008-01-08 00:00:00-05:00  138.81  303249870

In [39]:
markets_data.to_csv("markets_data.csv")